
<div class="row ">
    <div class="col-12 text-center">
        <div class="row justify-content-between">
            <div class="col-4">
                <h4>{{post.title}}</h4>
            </div>
            <div class="col-4">
                <p>Posted by {{post.user_id}} on date</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>{{post.content}}</p>
            </div>
        </div>
    </div>
</div>