<header>
        <div class="row cust-bg-dark">
            <nav>
                <div class="row">
                    <div class="col-6">
                        <ul id="nav-bar" class="d-flex flex-row cust-li-dec p-0 ms-3 pt-3">
                            <li class="me-4 fs-4"><a href="#" class="text-decoration-none cust-txt-light me-3">Home</a></li>
                            <li class="me-4 fs-4"><a href="#" class="text-decoration-none cust-txt-light me-3">Dashboard</a></li>
                            {{!-- TODO: li bellow needs to be dynamically switched between login or logout. --}}
                            <li id="log-btn" class="text-decoration-none cust-txt-light fs-4">
                                {{#if loggedIn as |loggedIn|}}
                                <a class="text-decoration-none cust-txt-light me-3" href="#">this</a> |{{! might need to be a diffenet tag?}}
                                {{else}}
                                <a class="text-decoration-none cust-txt-light me-3" href="/login">that</a> 
                                {{/if}}
                            </li> 
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <h1 class="cust-txt-dark ms-3 mb-4 cust-bg-light pt-1 pb-1 text-center rounded">The Tech Blog</h1>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main class="container container-fluid">
    <div class="row">
        <div class="col-md-6">
          <h2>Login</h2>

          <form class="form login-form">
            <div class="form-group">
              <label for="username-login">Username</label>
              <input class="form-input" type="text" id="username-login" />
            </div>
            <div class="form-group">
              <label for="password-login">password:</label>
              <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">login</button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <h2>Signup</h2>

          <form class="form signup-form">
            <div class="form-group">
              <label for="username-signup">Username</label>
              <input class="form-input" type="text" id="username-signup" />
            </div>
            <div class="form-group">
              <label for="password-signup">password:</label>
              <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">signup</button>
            </div>
          </form>
        </div>
    </div>
    </main>

<script src="./js/loginscreen.js"></script>