:root {
    --txt-light: #D9EAD3;
    --bg-dark: #231010;
    --silver: #A7A7A7;
}

body {
    background-color: var(--txt-light);
}

.cust-txt-light {
    color: var(--txt-light);
}

.cust-txt-silv {
    color: var(--silver);
}

.cust-bg-dark {
    background-color: var(--bg-dark);
}

.cust-bg-light {
    background-color: var(--txt-light);
}

.cust-li-dec {
    list-style: none;
}

.cust-brd-dark {
    border: 4px solid var(--bg-dark)
}

.cust-bg-silv {
    background-color: var(--silver);
}